<div class="card card-right">
  <div  class="pd-8 pd--8">
    <div class="row">
      <div class="col-md-1">
        <span class="mr-12"><i class='fas fa-arrow-left'></i></span>

      </div>
      <div class="col-md-6" style="margin-right: -20px;"> 
        <span class="font-size-16 pd--left--8 avengers-infinity-wa-copy-2" style="font-weight: bold;"> Asset Details</span>

      </div>
      <div class="col-md-2 star">
        <!-- <span><i class='far fa-star'></i></span> -->
        <span style="float: right;" (click)="home()"><img class="image-home" src="./assets/noun_Home_677617.png" /></span>


      </div>
  
  
    </div>
      <!-- <span class="mr-12"><i class='fas fa-arrow-left'></i></span>
      <span class="font-size-11 pd--left--8"> Asset Details</span>
  
      <span style="float: right;"><i class='far fa-star'></i></span> -->
  
  </div>

 

  <div class="wrapper pd--8 card-2top-detail">
     <div class="row">
      <div class="col-md-2 first-div">
        <!-- <i class="material-icons" style="margin-top: 2px; padding-left: 20px;">email</i> -->
        <img class="image-email" src="./assets/email_icon.png" />
    </div>
    <div class="col-md-6 second-div">
        <p class="text-title"><b>Avengers Endgame</b></p>
        <p class="font--size--11">1234</p>

    </div>
    <div class="col-md-2 third-div">
        <button type="button" class="btn btn-danger btn-right">Transfer</button>
    </div>
     </div>
     
  </div>

  
  <div class="wrapper pd--8 instance-text-med">
    <div class="row">
      <div class="col-md-4 first2-div">
        <p class="text-title">Instance</p>
        <p class="font-sized-11">{{asset_name}}</p>
    </div>
    <div class="col-md-4 second2-div">
        <p class="text-title">Created On</p>
        <!-- <p class="font-size-11">{{created.split(' ')[0]}}</p> -->
        <p class="font-sized-11">29 july</p>


    </div>
    <div class="col-md-4 third2-div">
        <p class="text-title">Created By</p>
        <p class="font-sized-11">Logan Paul</p>
    </div>
    </div>
      <!-- <div class="first2-div">
          <p class="text-title">Instance</p>
          <p class="font-size-11">{{asset_name}}</p>
      </div>
      <div class="second2-div">
          <p class="text-title">Created On</p>
          <p class="font-size-11">12 July</p>

      </div>
      <div class="third2-div">
          <p class="text-title">Created By</p>
          <p class="font-size-11">Logan Paul</p>
      </div> -->
  </div>

<!-- <div class="pd--8 font-size-10">
  <p class="text-inner">
      <span class="note-grey">Note:</span><br>
      Since we do not have any page to link it to, and we do not want to get a "404" message, we put # as the link.
  </p>
</div> -->
<div class="container pd--left--0 pd--right--0">
  
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs border-none" role="tablist">
    <li class="nav-item">
      <a class="nav-link active border-none-1 table-tile" data-toggle="tab" href="#home">Transfer</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link border-none-1 font-size-11" data-toggle="tab" href="#menu1">Transfer</a>
    </li>  -->
 
  </ul>
 

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active pd--left--0 pd--right--0 mr-top-12"><br>
      <div class="table-responsive">
        <table class="table" style="font-size: 12px;" >
            <thead class="thead">
              <tr style="height: 35px;">
                <th class="pd--left--8">Destination Instance</th>
                <th>Status</th>
                <th class="text-center">Date</th>
                <th>transferred by</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let group of data_history" style="height: 32px;">
                <td class="pd--left--16">{{group.Asset_Type}}</td>
                <td class="pd-left-6 text-center" [ngClass]="{
                  'orange' : group.Status === 'In Progress',
                  'positive': group.Status === 'Compeleted',
                  'negative': group.Status === 'Errored'
               }"></td> 
               <!-- <td>{{group.Start_Time.split(' ')[0]}}</td> -->
               <td>{{group.Start_Time | date: 'dd/MM/yyyy'}}</td>

               <td class="text-center">{{group.Asset_Name}}</td>
               <td class="pd-right-8"><i class="fa fa-ellipsis-h"></i></td>

               <!-- <td class="pd-left-6 text-center"> d
                <span class ="dot" [ngClass]="{
                  'dot-red' : group.Status === 'In Progress',
                  'dot-green' : group.Status === 'Compeleted',
                  'dot-yellow' : group.Status == 'Errored'}"></span></td> -->
                <!-- <td>{{group.Start_Time.split(' ')[0]}}</td>
                <td class="text-center">{{group.Asset_Name}}</td>
                <td class="pd-right-8"><i class="fa fa-ellipsis-h"></i></td> -->


              </tr>
              <!-- <tr>
                <td>computer virtual machine standard -x7</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>sdgf</td>
                <td class="pd-right-8"><i class="fa fa-ellipsis-h"></i></td>

              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
              <tr>
                <td>computer virtual machine standard -x7</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>computer virtual machine standard -x7</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>computer virtual machine standard -x7</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>computer virtual machine standard -x7</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr> -->
            </tbody>
          </table>
      </div> 
      <!-- <div class="container pd--left--0 pd--right--0">
        
          <table class="table" style="font-size: 12px;">
            <thead>
              <tr class="font-size-9">
                <th class="pd--left--8">Version</th>
                <th>Modified at</th>
                <th>Modified by</th>
                <th>Flag</th>
                 <th></th>
              </tr>
            </thead>
            <tbody class="font-size-10">
              <tr>
                <td class="pd--left--16">1.2</td>
                <td>4 Aug 2019</td>
                <td>Jannet Cruz</td>
                <td><i class='far fa-flag'></i></td>
                <td><i class="fa fa-ellipsis-h"></i></td>


              </tr>
              <tr>
                <td class="pd--left--16">1.2</td>
                <td>4 Aug 2019</td>
                <td>Jannet Cruz</td>
                <td><i class='far fa-flag'></i></td>
                <td><i class="fa fa-ellipsis-h"></i></td>


              </tr>
              <tr>
                <td class="pd--left--16">1.2</td>
                <td>4 Aug 2019</td>
                <td>Jannet Cruz</td>
                <td><i class='far fa-flag'></i></td>
                <td><i class="fa fa-ellipsis-h"></i></td>


              </tr>
            </tbody>
          </table>
        </div> -->

        <!-- <div class="table-responsive">
          <table class="table" style="font-size: 12px;">
              <thead class="thead">
                <tr>
                  <th class="pd--left--8">Version</th>
                  <th>Modified at</th>
                  <th>Modified by</th>
                  <th>Flag</th>
                   <th></th>
                </tr>
              </thead>
              <tbody class="font-size-10">
                <tr>
                  <td class="pd--left--16">1.2</td>
                  <td>4 Aug 2019</td>
                  <td>Jannet Cruz</td>
                  <td><i class='far fa-flag'></i></td>
                  <td><i class="fa fa-ellipsis-h"></i></td>


                </tr>
                <tr>
                  <td class="pd--left--16">1.2</td>
                  <td>4 Aug 2019</td>
                  <td>Jannet Cruz</td>
                  <td><i class='far fa-flag'></i></td>
                  <td><i class="fa fa-ellipsis-h"></i></td>


                </tr>
                <tr>
                  <td class="pd--left--16">1.2</td>
                  <td>4 Aug 2019</td>
                  <td>Jannet Cruz</td>
                  <td><i class='far fa-flag'></i></td>
                  <td><i class="fa fa-ellipsis-h"></i></td>


                </tr>
              </tbody>
            </table>
        </div>  -->
        
    </div>
    <div id="menu1" class="container tab-pane pd--left--0 pd--right--0 mr-top-12"><br>
      <!-- <div class="container pd--left--0 pd--right--0">
        
          <table class="table font--size--11">
            <thead>
              <tr class="font-size-9">
                <th class="pd--left--8">Destination Instance</th>
                <th>Status</th>
                <th class="text-center" >Date</th>
                <th>Transfered by</th>
                 <th></th>
              </tr>
            </thead>
            <tbody class="font-size-10">
              <tr  *ngFor="let group of data_history">
                <td class="pd--left--16">{{group.Asset_Type}}</td>
                <td class="pd-left-6 text-center" [ngClass]="{
                  'orange' : group.Status === 'In Progress',
                  'positive': group.Status === 'Compeleted',
                  'negative': group.Status === 'Errored'
               }"></td> -->

               <!-- <td class="pd-left-6 text-center"> d
                <span class ="dot" [ngClass]="{
                  'dot-red' : group.Status === 'In Progress',
                  'dot-green' : group.Status === 'Compeleted',
                  'dot-yellow' : group.Status == 'Errored'}"></span></td> -->
                <!-- <td>{{group.Start_Time.split(' ')[0]}}</td>
                <td class="text-center">{{group.Asset_Name}}</td>
                <td class="pd-right-8"><i class="fa fa-ellipsis-h"></i></td>


              </tr>
           
            </tbody>
          </table>
        </div> -->
        <div class="table-responsive">
          <table class="table" style="font-size: 12px;">
              <thead class="thead">
                <tr>
                  <th class="pd--left--8">Destination Instance</th>
                  <th>Status</th>
                  <th class="text-center">Date</th>
                  <th>transferred by</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let group of data_history">
                  <td class="pd--left--16">{{group.Asset_Type}}</td>
                  <td class="pd-left-6 text-center" [ngClass]="{
                    'orange' : group.Status === 'In Progress',
                    'positive': group.Status === 'Compeleted',
                    'negative': group.Status === 'Errored'
                 }"></td> 
                 <!-- <td>{{group.Start_Time.split(' ')[0]}}</td> -->
                 <td>{{group.Start_Time.split(' ')[0]}}</td>

                 <td class="text-center">{{group.Asset_Name}}</td>
                 <td class="pd-right-8"><i class="fa fa-ellipsis-h"></i></td>

                 <!-- <td class="pd-left-6 text-center"> d
                  <span class ="dot" [ngClass]="{
                    'dot-red' : group.Status === 'In Progress',
                    'dot-green' : group.Status === 'Compeleted',
                    'dot-yellow' : group.Status == 'Errored'}"></span></td> -->
                  <!-- <td>{{group.Start_Time.split(' ')[0]}}</td>
                  <td class="text-center">{{group.Asset_Name}}</td>
                  <td class="pd-right-8"><i class="fa fa-ellipsis-h"></i></td> -->


                </tr>
                <!-- <tr>
                  <td>computer virtual machine standard -x7</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                  <td>sdgf</td>
                  <td class="pd-right-8"><i class="fa fa-ellipsis-h"></i></td>

                </tr>
                <tr>
                  <td>Mary</td>
                  <td>Moe</td>
                  <td>mary@example.com</td>
                </tr>
                <tr>
                  <td>July</td>
                  <td>Dooley</td>
                  <td>july@example.com</td>
                </tr>
                <tr>
                  <td>computer virtual machine standard -x7</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                </tr>
                <tr>
                  <td>computer virtual machine standard -x7</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                </tr>
                <tr>
                  <td>computer virtual machine standard -x7</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                </tr>
                <tr>
                  <td>computer virtual machine standard -x7</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                </tr> -->
              </tbody>
            </table>
        </div> 
    </div>
 
  </div>
</div>

</div>

