// .card-right{
//   // max-width: 270px;
//   //   float: right;
//   //   height: 100vh;
//   //   margin: 4px;
//   margin: 4px;
//   height:751px;
//   background-color: #FFFFFF;
//   border-radius: 4px;
//   box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.3);
//   width: 480px;
//   height: 751px;
// }

.wrapper {
  width:100%;
  margin : 0;
  }

  .icon-image{
    margin-left: 8px;
    margin-top: -5px;
}  
  
  
  .first-div {
  width:14%;
  margin : 0;
  float : left ;
  // background-color: red;
  }
  

  .first1-div{
    width: 28px;
    margin: 0;
    float: left;
    // background-color:#007bff52;
    height: 28px;
    border-radius: 26px;
    /* margin-top: 4px; */
    position: relative;
    top: 10px;
    left: 7px;
    margin-right: 15px;
}

  
  .second-div {
  width:60%;
  margin : 0;
  float : left ;
  cursor: pointer;
  
  // background-color:blue;
  }

  .table-data{
    margin-top: 15px;
  }
  
  .third-div {
    width:23%;
    margin : 0;
    float : left ;
    // background-color:green;
  
    }

    .table-data .third-div {width:27%!important;}  

    .search-bar{
      max-width: 92%;
    
    margin-left: 12px;
    // font-size: 11px;
    margin-top: 4px;

    color: #AAAAAA;
    font-family: HelveticaNeue;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    height: 40px;
    border: 1px solid #D8D8D8;
    border-radius: 2px;

    // font-size: 17px;    
    }
    .search-bar .placeholder{
      color: #AAAAAA;
      font-family: HelveticaNeue;
      font-size: 14px;
      line-height: 16px;
      text-align: left;
    }

    .msg-title{

     
      position: relative;
      top: 5px;
      // font-size: 12px;
      /* font-family: bold; */
      font-weight: bold;

      color: #000000;
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
    
  }
    .icon-back{
      position: relative;
      left: 5px;
      top: 5px;
      font-size: 18px;
    }

    .time-center{
      margin-top: 4px;
    // margin-left: 38px;

    color: #000000;
  font-family: HelveticaNeue;
  font-size: 12px;
  line-height: 14px;
  text-align: right;

  
    }


    .footer {
      position: fixed;
      bottom: 2px;
      width: 261px;
      /* height: 62px; */
      // border-bottom-right-radius: 4px;
      // border-bottom-left-radius: 4px;
      // background-color: #dee2e6;
      // color: #dc3545;
      // color: #FFFFFF;
      background-color: #FFFFFF;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
      width: 480px;
      height: 58px;
      right: 13px;


      text-align: center;
   }


   .footer1 {
    position: fixed;
    bottom: 4px;
    width: 256px;
    /* height: 62px; */
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #dee2e6;
    color: #dc3545;
    text-align: center;
 }

   .text-center{
    // font-size: 13px;
    font-weight: bold;

    color: #000000;
  font-family: HelveticaNeue;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  // margin-right: 48px;
   }

   .icon-aligen{
    margin-left: 14px;
    margin-top: 4px;

   }

   .btn-right{
    margin-bottom: 9px;
    margin-right: 3px;
    margin-top: -8px;
    margin-left: 42px;
    // width: 55px;
    
    /* height: 25px; */
    font-size: 12px;

    border-radius: 2px;
  width: 76px;
  height: 32px;
   }

   .btn-right-select{
    float: right;
    font-size: 9px;
    padding-right: -15px;
    /* text-align: center; */
    padding-left: 5px;
    background-color: transparent;
    color: black;
    border: 1px solid;
   }

   .table-title{
    margin-bottom: 0px;
    // font-size: 9px;
    margin-left: 13px;
    margin-top: 20px;

    color: #4A4A4A;
  font-family: HelveticaNeue;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
   }

   .serach-btn{
    background-color: white;
    border: 1px solid #ced4da;
    color: red;
    font-size: 17px;
    border-left:none;
    // width: 24px;
    // height: 24px;
   }

  

  

   .btn-div{
    margin-right: 4px;
    margin-top: 4px;
   }

   .result-number{
    font-size: 10px;
    padding-left: 12px;
   }


   .pd-left{
    padding-left: 12px;
   }

   .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 1px 14px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color:red;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}


 
  .cross-icon{
    position: relative;
    right: 16px;
    top: 6px;
    color: black;
}
  

.mr-left{
  position: absolute;
  /* left: 153px; */
  right: 43px;
  z-index: 24;
}



.list-highlight{
  padding-left: 12px;
}
.topnav {
	overflow: hidden;
	// background-color: #f1f1f1;
  }
  
  .topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 12px 4px;
	text-decoration: none;
	font-size: 11px;
	border-bottom: 1px solid transparent;
  }
  
  .topnav a:hover {
	border-bottom: 2px solid  #e53b42;
	font-weight: 500;
  }
  
  .topnav a.active {
	border-bottom: 3px solid #6d8e5b;
  }

  .table-transpond{
    padding-top: -1px;
  }

  .table-transpond table thead tr th{
    font-weight: 500;
    font-size: 12px;
}

.table-transpond table tbody tr td{
  // font-weight: 500;
  font-size: 12px;
}

.select-assets{
  float: left;
  margin-left: 60px;;
}


.show-table-transpond{

  padding-top: 10px;;
}

.show-table-transpond table thead tr th{
  font-weight: 500;
  font-size: 12px;
}

.show-table-transpond  table tbody tr td{
  font-size: 12px;

}

.orange {
  color:green;
  // height: 10px;
  // width: 10px;
  // border-radius: 50%;
  // display: inline-block;
}

// .footer  {
//   background-color: #E21E26;
//   width: 24px;
//   height: 25px;
// }

.image-home{
  cursor: pointer;

  color: #E21E26;
  width: 24px;
  height: 25px;
}

.foot-bar{
  margin-top:15px;
}


// .icon {
//   content:"";
//   // width:10px;
//   // height:10px;
//   background:url('./assets/email_icon.png');
//   // display:inline-block;
//   // border-radius:50%;
//   background-color: #2F5584;
//   width: 20px;
//   height: 14px;
// }

.bitmap-copy-3 {
  // background-color: #007bff52;
  // width: 20px;
  // height: 14px;
  background-color: #2F5584;
  width: 20px;
  height: 14px;
  right: 20px;
  margin-top: 8px;
  margin-left: 7px;
}


.table-data > div > div {
  float: none!important;
  display: inline-block;
  vertical-align: top;
}

.table-data .rectangle-copy-10 span.image-icon { background:#DBF9E9; padding: 7px;
  width: 30px;
  border-radius: 100%;
  height: 30px;}
.table-data .rectangle-copy-9 span.image-icon { background-color: #C3D9F2;padding: 7px;
  width: 30px;
  border-radius: 100%;
  height: 30px;}
.table-data .rectangle-form span.image-icon {background-color: #FEEFD7;padding: 7px;width: 30px;border-radius: 100%;height: 30px;}

.data-row > span {
  vertical-align: bottom;
}


.column.arrow {
  width: 30px;
}

.table-data .data-row {
  margin-top: 3px;
}

.table-data > div {border-bottom: #ccc solid 1px; margin: 0 -10px;
  padding: 0 10px 10px;}

.table-data > div .image-icon img {
  width: 17px;
}

.source-instance {
  color: #4A4A4A;
  font-family: HelveticaNeue;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  margin-top: 8px;
}

.destination-instance {
  color: #4A4A4A;
  font-family: HelveticaNeue;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  margin-top: 8px;

}

.arrow{
  margin-top: 3px;

}
// .font-size-9{

//   font-size: 9px;
//   color: #4A4A4A;
//   font-family: HelveticaNeue;
//   font-size: 12px;
//   line-height: 14px;
//   text-align: left;
// }

.parent {
  display: flex;
  flex-direction:row;
}

.column {
  flex: 1 1 0px;
  // border: 1px solid black;
}

.image-icon{
  // margin-bottom: 8px;
}

.data-row{

  margin-top: 10px;
}